<div class="wrapper">
  <header>
    <img src="https://cdn.evbuc.com/images/11935424/65962156417/1/logo.jpg" alt="meh" />
    <h1 class="heading">Galvanize Reads</h1>
  </header>
  <section class="book">
    {{#each list}}
<h1>{{this.title}}</h1>
        <div class="descript">
          {{this.description}}
        </div>
          <a href="book/{{this.id}}/detail"><img src="{{this.cover_url}}"></a>
          <a href="book/{{this.id}}/delete"><button type="submit" name="button">Delete</button></a>
          <a href="book/edit/{{this.id}}"><button type="submit">Edit</button></a>
    {{/each}}
  </section>
</div>
<a href="/add">Add A Book</a>
